# Working with Database Metadata

Istilah metadata secara umum merujuk kepada data yang mendeskripsikan atau menggambarkan suatu data. Pada SQLAlchemy istilah metadata merujuk pada sebuah koleksi informasi mengenai tabel, kolom, konstrain, dan objek DDL lainnya yang mungkin ada pada suatu database.

Objek yang paling umum untuk metadata database pada SQLAlchemy yaitu MetaData, Table, dan Column. Ketika kita bekerja dengan sebuah database relasional, struktur dasar yang kita buat dan kuerinya dikenal sebagai tabel. Pada SQLAlchemy table direpresentasikan oleh sebuah objek python bernama Table.

objek Table merepresentasikan tabel yang ada pada database. Setiap Table bisa dideklaraikan dari awal secara eksplisit atau direfleksikan dari tabel yang sudah ada pada suatu database.

Sebuah koleksi dimana table itu ditempatkan dikenal dengan objek MetaData. Untuk membuat objek MetaData adalah sebagai berikut:

<b>from sqlalchemy import MetaData</b><br>
<b>metadata = MetaData()</b>

Pada contoh diatas dan contoh-contoh dibawah berikutnya akan menggunakan core-style pada SQLAlchmey, karena SQLAlchmey mempunyai dua mode yaitu core dan ORM.

Pada saat kita sudah memiliki metadata, kita dapat mendeklarasikan objek Table. Mempunyai satu objek MetaData dalam seluruh aplikasi adalah kasus yang paling umum, meskipun bisa juga memiliki beberapa MetaData. Berikut ini contoh untuk membuat sebuah tabel users:

In [1]:
from sqlalchemy import (create_engine, 
                        MetaData, Table, Column, Integer, String)

engine = create_engine("sqlite+pysqlite:///example.db", future=True)
metadata = MetaData()

users_table = Table("users", 
                    metadata, 
                    Column("id", Integer, primary_key=True), 
                    Column("name", String(30)), 
                    Column("fullname", String))

Operasi di atas sama seperti pembuatan tabel di dalam SQL menggunakan CREATE TABLE:

- Table merepresentasikan sebuah tabel pada database yang di assign ke sebuah koleksi MetaData.

- Column merepresentasikan sebuah kolom pada sebuah tabel dan di assign ke sebuah objek Table.

- Integer dan String merepresentasikan tipe data dari suatu kolom.

## Table Property

In [2]:
users_table.c.name

Column('name', String(length=30), table=<users>)

In [3]:
users_table.c.keys()

['id', 'name', 'fullname']

In [4]:
users_table.columns.keys()

['id', 'name', 'fullname']

In [5]:
users_table.columns.id

Column('id', Integer(), table=<users>, primary_key=True, nullable=False)

In [6]:
users_table.columns.name

Column('name', String(length=30), table=<users>)

In [7]:
users_table.columns.fullname

Column('fullname', String(), table=<users>)

In [8]:
users_table.c.items()

[('id',
  Column('id', Integer(), table=<users>, primary_key=True, nullable=False)),
 ('name', Column('name', String(length=30), table=<users>)),
 ('fullname', Column('fullname', String(), table=<users>))]

In [9]:
users_table.name

'users'

In [10]:
users_table.primary_key

PrimaryKeyConstraint(Column('id', Integer(), table=<users>, primary_key=True, nullable=False))

## Foreign Key

Foreign key dapat dideklarasikan dengan objek ForeignKey. Berikut ini contoh pembuatan tabel dengan menggunakan foreign key:

In [11]:
from sqlalchemy import ForeignKey

email_table = Table("email", 
                    metadata, 
                    Column("id", Integer, primary_key=True), 
                    Column("user_id", ForeignKey("users.id"), nullable=False), 
                    Column("email_address", String, nullable=False))

In [12]:
metadata.tables

FacadeDict({'users': Table('users', MetaData(), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(length=30), table=<users>), Column('fullname', String(), table=<users>), schema=None), 'email': Table('email', MetaData(), Column('id', Integer(), table=<email>, primary_key=True, nullable=False), Column('user_id', Integer(), ForeignKey('users.id'), table=<email>, nullable=False), Column('email_address', String(), table=<email>, nullable=False), schema=None)})

## Emmiting DDL to the Database

Sampai saat ini kita sudah membuat objek MetaData, membuat dua tabel yang terdiri dari beberapa kolom dan konstrain. Struktur objek ini akan menjadi pusat operasi-operasi yang akan dilakukan selanjunya.

Hal pertama yang akan dilakukan pada struktur yang telah dibuat ini yaitu mengemit atau membuat struktur tersebut menjadi persistence pada SQLite database yaitu dengan menggunakan metode <b>create_all()</b> pada metadata yang telah dibuat dengan memasukan <b>engine</b> sebagai parameternya.

In [13]:
metadata.create_all(engine)

Kebalikan dari create_all() adalah drop_all() yaitu untuk menghapus tabel.

## How to list tables using SQLite3 in Python

- Buka terminal
- Jalankan program python
- import sqlite3
- Membuat koneksi ke database:
    - con = sqlite3.connect("example.db")
    - cursor = con.cursor()
    - cursor.execute("SELECT name FROM sqlite_master WHERE type='table;")
    - print(cursor.fetchall())
- Apabila sudah selesai:
     - cursor.close()
     - con.close()