# Updating Rows with Core

Fungsi <b>update()</b> akan menghasilkan instance baru dari UPdate yang merepresentasikan UPDATE statement pada SQL yang akan mengupdate data yang ada pada tabel.

In [1]:
from sqlalchemy import create_engine, MetaData

In [2]:
engine = create_engine("sqlite+pysqlite:///example.db", future=True)
metadata = MetaData(bind=engine)
metadata.reflect()

users_table = metadata.tables["users"]
email_table = metadata.tables["email"]

In [5]:
from sqlalchemy import select

with engine.connect() as conn:
    result = conn.execute(select(users_table))
    
    for row in result.all():
        print(row)

(1, 'spongebob', 'spongebob squarepants')
(2, 'sandy', 'sandy cheeks')
(3, 'patrick', 'patrick star')

Mengupdate fullname dari patrick yang semula patrick star menjadi patrick the star.

In [6]:
from sqlalchemy import update

upd_stmt = (
    update(users_table).where(users_table.c.name == "patrick").
    values(fullname = "patrick the star")
)

print(upd_stmt)

UPDATE users SET fullname=? WHERE users.name = ?

In [8]:
with engine.connect() as conn:
    conn.execute(upd_stmt)
    conn.commit()

In [9]:
with engine.connect() as conn:
    result = conn.execute(select(users_table))
    
    for row in result.all():
        print(row)

(1, 'spongebob', 'spongebob squarepants')
(2, 'sandy', 'sandy cheeks')
(3, 'patrick', 'patrick the star')

Sekarang pada tabel users fullname dari patrick telah berubah menjadi patrick the star.